# This K8s version uses the Percona Operator to run a MongoDB ReplicaSet:
#   - 1 Primary (accepts writes)
#   - 2 Secondaries (accept reads, auto-promoted if primary dies)
#   - Operator handles lifecycle, failover, and user management
#
# Apply secrets first:
#   kubectl apply -f databases/mongodb/secrets.yaml - to create the secret
#
# Install the operator first:
#   helm repo add percona https://percona.github.io/percona-helm-charts/
#   helm repo update
#   helm install mongodb-operator percona/psmdb-operator --namespace databases
#   helm install mongodb-cluster -f databases/mongodb/percona-values.yaml percona/psmdb-db --namespace databases
#
# To check the operator and percona server for mongodb pods status:
#   kubectl get psmdb -n databases
#   kubectl get pods -n databases

# sharding:
#   enabled: false

# users:
#   - name: root
#     db: admin
#     passwordSecretRef: 
#       name: mongodb-secret
#       key: password
#     roles:
#       - name: clusterAdmin
#         db: admin
#       - name: userAdminAnyDatabase
#         db: admin

apiVersion: psmdb.percona.com/v1
kind: PerconaServerMongoDB
metadata:
  name: mongodb
spec:
  crVersion: 1.22.0
  image: perconalab/percona-server-mongodb-operator:main-mongod8.0
  unsafeFlags:
    replsetSize: true
    mongosSize: true
  upgradeOptions:
    apply: disabled
    schedule: "0 2 * * *"
  secrets:
    users: minimal-cluster
  replsets:

  - name: rs0
    size: 1
    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 3Gi

  sharding:
    enabled: false

    configsvrReplSet:
      size: 1
      volumeSpec:
        persistentVolumeClaim:
          resources:
            requests:
              storage: 3Gi

    mongos:
      size: 1

  users:
  - name: root
    db: admin
    passwordSecretRef: 
      name: mongodb-secret
      key: password
    roles:
      - name: clusterAdmin
        db: admin
      - name: userAdminAnyDatabase
        db: admin