# helm install traefik traefik/traefik -f infrastructure/traefik/do.yaml --skip-crds

service:
  enabled: true
  type: LoadBalancer
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
  spec:
    externalTrafficPolicy: Cluster

ports:
  web:
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 10.106.0.0/20
        - 10.108.0.0/16
        - 10.109.0.0/19
    proxyProtocol:
      trustedIPs:
        - 127.0.0.1/32
        - 10.106.0.0/20
        - 10.108.0.0/16
        - 10.109.0.0/19
  websecure:
    forwardedHeaders:
      trustedIPs:
        - 127.0.0.1/32
        - 10.106.0.0/20
        - 10.108.0.0/16
        - 10.109.0.0/19
    proxyProtocol:
      trustedIPs:
        - 127.0.0.1/32
        - 10.106.0.0/20
        - 10.108.0.0/16
        - 10.109.0.0/19