name: PROD - CI/CD for App Connoisseur Version 2

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:  # Trigger manually if needed, or you can use push to main
    inputs:
        app:
          description: 'App to build and deploy (e.g., fluent, fast, express, act)'
          required: true
        service:
          description: 'Service to Build (e.g., fluent-widget, fluent-flask)'
          required: true
        version:
          description: 'Service version'
          required: true
          default: 'latest'

jobs:
  build-and-deploy:
    runs-on: production

    # strategy:
    #   matrix:
    #     app: [fluent,fast,express,act]  # You can extend to other apps (app1, app2, etc.)

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v2

    # Build the Docker image only for the specified service
    - name: Build Docker Image for Service
      run: |
        echo "Building service: ${{ github.event.inputs.service }}"
        chmod +x ./build-service.sh
        ./build-service.sh ${{ github.event.inputs.service }} --version=${{ github.event.inputs.version }}

    # Update only the service's image in stack.yml
    - name: Update stack.yaml with new image for the service
      run: | 
        sed -i "s|image: ${{ github.event.inputs.service }}:.*|image: ${{ github.event.inputs.service }}:${{ github.event.inputs.version }}|" ${{ github.event.inputs.app }}-stack/stack.yaml

    # Configure Git, Commit, and Push
    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Commit stack.yaml changes
      run: |
        git checkout -b PROD-${{ github.event.inputs.service }}-${{ github.event.inputs.version }}
        git add ${{ github.event.inputs.app }}-stack/stack.yaml
        git commit -m "Update image for ${{ github.event.inputs.service }} to ${{ github.event.inputs.version }}"

    - name: Push changes to new branch
      run: |
        git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }} HEAD:PROD-${{ github.event.inputs.service }}-${{ github.event.inputs.version }}

    # Optionally deploy the updated stack or service
    - name: Deploy updated service
      run: |
        docker stack deploy -d -c ${{ github.event.inputs.app }}-stack/stack.yaml ${{github.event.inputs.app}}-stack

    # Optional: Clean up Docker
    # - name: Clean up Docker
    #  run: docker system prune -f
