name: Production Workflow

on:
  workflow_dispatch:  # Allows manual triggering with parameters
    inputs:
      app_name:
        description: 'Application to deploy (e.g., app1, app2)'
        required: true
        default: 'fluent'
      stack_name:
        description: 'Application stack'
        required: true
        default: 'fluent'

jobs:
  deploy:
    runs-on: production

    steps:
      # Step 1: Checkout the deployments repo (where build.sh is stored)
      - name: Checkout deployments repo
        uses: actions/checkout@v4

      # Step 2: Set up SSH agent and add the private key for repo access
      # - name: Set up SSH
      #   uses: webfactory/ssh-agent@v0.7.0
      #   with:
      #     ssh-private-key: ${{ secrets.SSH }}

      # Step 3: Set up Docker
      # - name: Set up Docker
      #   uses: docker/setup-buildx-action@v2

      # Step 4: Log in to Docker Hub or private registry (if required)
      # - name: Docker login
      #   run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      # Step 5: Run the build.sh script with the app name as input
      - name: Run build-service.sh
        run: |
          chmod +x ./build-service.sh
          ./build-service.sh ${{ github.event.inputs.app_name }}

      # Step 6: Deploy the stack using Docker Swarm
      - name: Deploy stack
        run: |
          cd ${{ github.event.inputs.stack_name }}-stack
          docker stack deploy -d -c ./stack.yaml ${{ github.event.inputs.stack_name }}-stack

      # Optional: Clean up Docker
      - name: Clean up Docker
        run: docker system prune -f