name: Production Deployment

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:  # Trigger manually if needed, or you can use push to main
    inputs:
        app:
          description: 'App to build and deploy (e.g., fluent, fast, express, act)'
          required: true
        service:
          description: 'Service to Build (e.g., fluent-widget, fluent-flask)'
          required: true

jobs:
  build-and-deploy:
    runs-on: production

    # strategy:
    #   matrix:
    #     app: [fluent,fast,express,act]  # You can extend to other apps (app1, app2, etc.)

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Step 2: Log in to Docker Registry
    - name: Log in to Docker Registry
      uses: docker/login-action@v2
      with:
        registry: hub.connoisseur-suite.co.uk
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    # Build the Docker image only for the specified service
    - name: Build Docker Image for Service
      run: |
        echo "Building service: ${{ github.event.inputs.service }}"
        chmod +x ./build-service2.sh
        ./build-service2.sh ${{ github.event.inputs.service }} --version=latest --url=hub.connoisseur-suite.co.uk

    # Step 5: Push the Docker image to your registry
    - name: Push Docker image
      run: |
        docker push hub.connoisseur-suite.co.uk/${{ github.event.inputs.service }}:latest

    # Optionally deploy the updated stack or service  
    - name: Deploy updated service
      run: |
        # Create or update the registry auth config on the Swarm manager
        docker login hub.connoisseur-suite.co.uk \
          --username ${{ secrets.REGISTRY_USERNAME }} \
          --password ${{ secrets.REGISTRY_PASSWORD }}
        
        # Force pull the image to ensure we have the latest version
        docker pull hub.connoisseur-suite.co.uk/${{ github.event.inputs.service }}:latest
        
        # Distribute the credentials to all Swarm nodes
        docker system info -f '{{.Swarm.NodeID}}' | grep -q . && \
          docker swarm update --autolock=false
        
        # Deploy the stack with registry auth
        docker stack deploy --with-registry-auth \
          --prune \
          --resolve-image=always \
          -c ${{ github.event.inputs.app }}-stack/stack.yaml ${{github.event.inputs.app}}-stack

    # Optional: Clean up Docker
    # - name: Clean up Docker
    #  run: docker system prune -f
